:root{
    --marron: #CE7F47;
    --morado: #1F1348;
    --negro: #000004;
    --azulado: #063866;
    --azul: #000F5C;
}

html {
    font-size: 62.5%;
    height: 100%;
}
body{
    background-color:var(--morado) ;
    margin: 0;
    padding: 0;
}


header{
    background-color: var(--azulado);
}

.sidebar {
 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.sidebar a{
    margin: 0.2rem 0 ;
    padding:1.5rem 3rem;
    background-color: var(--morado);
    border: 0.2rem solid ;
    border-color: var(--negro);
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

.sidebar a:hover{
    background-color: var(--marron);
    transform: scale(1.1);
}

.title-container{
    
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 2rem;
margin-left: 2rem;

color: white;
line-height: 1,5;

}

.title-container .spaced-line{
    display: inline-block;
    margin-left: 9rem;
}

.title-container h1{
    padding: 2rem;
    font-size: 4rem;
}


.aboutMe-container {
    background-color: var(--marron);
}