:root {
    --cappucciono: #82663F;
    --cyan: #00FFF3;
    --lavanda: #8287D7;
    --blanco: #ffffff;
    --dark_blue: #000E2E;
    --celeste: #718ce5;
    --fuentePrincipal: "Nosifer", sans-serif;
  }
  
  body {
    font-family: var(--fuentePrincipal);
    background-color: var(--dark_blue);
    color: var(--blanco);
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: var(--dark_blue);
  }
  
  .nav {
    display: flex;
    justify-content: center;
    padding: 15px;
  }
  
  .nav a {
    color: var(--cyan);
    margin: 0 15px;
    text-decoration: none;
  }
  
  .nav a:hover {
    color: var(--lavanda);
    transition: color 0.3s;
  }
  
  .main {
    padding: 20px;
    text-align: center;
  }
  
  footer {
    background-color: var(--cappucciono);
    padding: 10px;
    text-align: center;
  }
  
  img{
    width: 300px;

  }

  .project {
    margin-left: 15rem;
    margin-right: 15rem;
    background-color: var(--lavanda);
    border: 4px solid #000; 
    border-radius: 2rem; 
    padding: 20px; /* Agregado para algo de espacio interno */
    display: flex;
    flex-direction: column; /* Esto pone los elementos en columna */
    align-items: center; /* Centra el contenido horizontalmente */
    text-align: center; /* Asegura que el texto también esté centrado */
}

.project img {
    width: 300px;
    margin-bottom: 15px; /* Espacio entre la imagen y el enlace */
}

.project a {
    color: var(--cyan); 
    text-decoration: none;
    font-size: 1.1rem; 
    margin-top: 10px; 
}

.project a:hover {
    color: var(--dark_blue); 
    transition: color 0.3s;
}

  
#principal h1{
    text-align: left;
   font-size: 4rem;
   border-color: var(--cyan);
}
#principal p{
    margin-top: 3rem;
    text-align: left;
}